@tailwind base;
@tailwind components;
@tailwind utilities;
 
.data-\[state\=active\]\:shadow-sm[data-state=active] {
    background-color: rgb(41, 72, 112) !important;
    transform: scale(0.9);
    transition: all ease-in-out 0.6s;   
}
data-[state=selected] {
   
}


